<div class="detalle-box">
  <h2>Ficha Técnica</h2>
  <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="100">
  
  <div class="info">
    <p><strong>Versión del Sistema:</strong> 17.0.0 Standalone</p>
    <p><strong>Estado:</strong> Operativo</p>
    <p><strong>Ubicación:</strong> Cuartel General de Angular</p>
  </div>

  <p class="descripcion">
    Esta pantalla simula la vista detallada. Aquí podrías recibir parámetros 
    de la URL en un proyecto más avanzado.
  </p>

  <button routerLink="/heroes" class="btn-back">⬅️ Volver al Listado</button>
</div>