:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Centra verticalmente en la pantalla */
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

.form-group input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Para que el padding no ensanche el input */
}

.btn-login {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.btn-login:hover {
  background-color: #0056b3;
}